.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 20;
  background: rgba(0, 0, 0, 0.5); /* Smoked glass effect */
  backdrop-filter: blur(10px); /* Apply glassmorphism */
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  padding: 0 25px; /* Padding for spacing inside container */
}

.navbarLeft {
  display: flex;
  align-items: center;
}

.navbarTitle {
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #ffffff;
}

.navbarRight {
  display: flex;
  align-items: center;
  position: relative;
}

.userAvatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 3px 3px 3px rgba(1, 1, 1, 0.95);
}

.userAvatar:hover {
  transform: scale(1.1);
  display: pointer;
}

.dropdownMenu {
  position: absolute;
  top: 60px;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 10px;
  z-index: 30;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.75s ease, transform 0.75s ease;
  pointer-events: none;
}

.dropdownMenu.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto; /* Allow interaction when open */
}

.dropdownItem {
  color: white;
  padding: 8px 12px;
  cursor: pointer;
  transition: background 0.2s;
}

.dropdownItem:hover {
  background: rgba(255, 255, 255, 0.2);
}

.userAvatar:hover {
  transform: scale(1.1);
  display: pointer;
}

.logo {
  width: 100px; /* Adjust the size to your needs */
  height: auto; /* Maintain aspect ratio */
  cursor: pointer; /* Optional: make it clickable */
  transition: transform 0.3s ease; /* Smooth transition on hover */
}

.logo:hover {
  transform: scale(1.1); /* Slight zoom on hover */
}
